
<div class="container">
  <div class="jumbotron">
      <h1 class="display-4">My Notes</h1>
      <p class="lead">This is a simple notes entry app. Enter some notes now, yo!</p>
      <hr class="my-4">
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-header">
          Notes Display
        </div>
        <div class="card-body">
        </div>
      </div>
    </div>
    <div class="col-6">
        <div class="card">
          <div class="card-header">
            Notes Entry
          </div>
          <div class="card-body">
          </div>
        </div>
    </div>
  </div>
</div>  
